<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evento">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.evento.Student.StudentMain"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.evento.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.evento.SelectionScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.evento.Student.StudentLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.evento.Student.StudentProfile"
            android:label="Profile"
            android:parentActivityName="com.example.evento.Student.StudentMain" />
        <activity android:name="com.example.evento.Student.StudentRegister" />
        <activity android:name="com.example.evento.Coordinator.CoordinatorLogin" />
        <activity
            android:name="com.example.evento.Coordinator.CoordinatorMain"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.evento.Coordinator.CoordinatorRegister" />
        <activity
            android:name="com.example.evento.Coordinator.CoordinatorProfile"
            android:label="Profile"
            android:parentActivityName="com.example.evento.Coordinator.CoordinatorMain" />
        <activity
            android:name="com.example.evento.Coordinator.AddEvent"
            android:label="Add Event"
            android:parentActivityName="com.example.evento.Coordinator.CoordinatorMain" />
        <activity
            android:name="com.example.evento.Coordinator.EventDetail"
            android:label="Event Detail"
            android:parentActivityName="com.example.evento.Coordinator.CoordinatorMain" />


    </application>
</manifest>